body { 
background:url("geoVanni.png") no-repeat center center fixed;
background-size:cover;
    
}
header {
    margin-top: 10px;
    margin-left: 36%;
    margin-right: 530px;

    font-family: Cuprum , Arial, Helvetical, sans-serif;
    color: aliceblue;  
} 
a{text-decoration: none;
color:black;
}
#navbar ul { display: none; }
#navbar li:hover ul { display: block; }
#navbar, #navbar ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#navbar li { float: left; }
#navbar ul li { float: none; }
	#navbar ul {
  display: none;
  position: absolute;
  top: 50%;
}
#navbar li {
  float: left;
  position: relative;
}
#navbar { height: 20px; }
	#navbar ul {
  display: none;
  background-color:#E86C6E;
  position: absolute;
  top: 100%;
}
#navbar li:hover ul { display: block; }
#navbar, #navbar ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#navbar {
  height: 30px;
  background-color:#E86C6E;
  padding-left: 10px;
  width: 458px;
    font-size: 14px;
}
#navbar li {
  float: left;
  position: relative;
  height: 100%;
}
#navbar li a {
  display: block;
  padding: 6px;
  width: 100px;
  color: #fff;
  text-decoration: none;
  text-align: center;
}
#navbar ul li { float: none; }
#navbar li:hover { background-color:#7C7C7C;
transition: all 0.6s ease;}
#navbar ul li:hover { background-color: #666; }

.carousel { 
position: absolute;
top:700px;
    left: 1320px;
}
.carousel {
  position:relative;
  width: 380px;
  height: 130px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    padding-bottom: 0px;
  border: 1px solid #CCC;
border-radius: 20px;
  background:#000000;
}
.carousel img {
  width: 70px;
  height: 80px;
  display: block;
    margin: 2px
}
.arrow {
  position: absolute;
  top: 60px;
  padding: 0;
  background:#D45757;
  border-radius: 15px;
  border: 1px solid black;
  font-size: 24px;
  line-height: 24px;
  color:#000000;
  display: block;
}
.arrow:focus {
  outline: none;
}
.arrow:hover {
  background: #ccc;
  cursor: pointer;
}
.prev {
  left: 7px;
}
.next {
  right: 7px;
}
.gallery {
  width: 390px;
  overflow: hidden;
}
.gallery ul {
  height: 130px;
  width: 9999px;
  margin: 0;
  padding: 0;
  list-style: none;
  transition: margin-left 250ms;
  font-size: 0;
}
.gallery li {
  display: inline-block;
}


    
 
    

    
