body { 
background:url("geoVanni.png") no-repeat center center fixed;
background-size:cover;
    
}
.tyr {
    color:red;
    font-size: 34px;
}
.ryt { 
color:#931DA8;
font-size: 34px;}
.rty { 
color: :#E13C94;
font-size: 34px;}